{% extends "layout.html" %}

{% block content %}
{% if user %}
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptates sapiente quidem, tempora aspernatur
  placeat aliquam soluta fugiat officiis consectetur nihil exercitationem facere laudantium magni iste eum, maiores,
  voluptate accusamus
</p>

<p>
  Access token:
  <code style="word-break: break-all">{{ user.access_token }}</code>
</p>

<p>
  Providers:
</p>
<ul>
  {%for provider in providers %}
    <li>{{provider.name}} [{{provider.providerCode}}]</li>
  {%endfor%}
</ul>
{% endif %}

{% if not user %}
<p>
  <a href="/auth/login">Sign in using DFE Signin</a>
</p>
{% endif %}
{% endblock %}
