{% extends "layout.html" %}

{% block content %}
{% if user %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form action="/sitedata" method="post" class="form">
      {{ govukInput({
        label: {
          text: "Provider id"
        },
        id: "providerId",
        name: "providerId"
      }) }}
      {{ govukInput({
        label: {
          text: "Location name"
        },
        id: "locationName",
        name: "locationName"
      }) }}
      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        id: "address1",
        name: "address1"
      }) }}
      {{ govukInput({
        label: {
          text: "Address line 2"
        },
        id: "address2",
        name: "address2"
      }) }}
      {{ govukInput({
        label: {
          text: "Town/City"
        },
        id: "address3",
        name: "address3"
      }) }}
      {{ govukInput({
        label: {
          text: "County"
        },
        id: "address4",
        name: "address4"
      }) }}
      {{ govukInput({
        label: {
          text: "Postcode"
        },
        id: "postcode",
        name: "postcode"
      }) }}
      {{ govukInput({
        label: {
          text: "Code"
        },
        id: "code",
        name: "code"
      }) }}
      <button class="govuk-button">Submit</button>
    </form>
  </div>
</div>

<p>
  Access token:
  <code style="word-break: break-all">{{ user.access_token }}</code>
</p>
{% endif %}

{% if not user %}
<p>
  <a href="/auth/login">Sign in using DFE Signin</a>
</p>
{% endif %}
{% endblock %}
